<IfModule mod_rewrite.c>
    RewriteEngine  on
#	Uncomment this if mod_rewrites are not working for you. some hosting services have cranky mod_rewrite
#    RewriteBase     /wiki/
    RewriteCond %{SCRIPT_FILENAME}  -f [OR]
    RewriteCond %{SCRIPT_FILENAME}/index.php    -f
    RewriteRule ^(.*)$            - [L]

	RewriteRule ^view/(.*)$  index.php?page=$1  [L]
    RewriteRule ^(.*)$       index.php?page=$1  [L,QSA]
</IfModule>
